#exclude all unless allowed
/*
#gradle
!/buildSrc/
/buildSrc/build/
/buildSrc/.gradle/

!/gradle/
!/gradlew
!/gradlew.bat
!/settings.gradle

#projects
!/MIPS/
/MIPS/*
!/MIPS/src
!/MIPS/build.gradle

!/ExampleSystemCallPlugin/
/ExampleSystemCallPlugin/*
!/ExampleSystemCallPlugin/src
!/ExampleSystemCallPlugin/build.gradle

!/Updater/
/Updater/*
!/Updater/src
!/Updater/build.gradle

#Github
!/README.md
!.gitignore
!.gitattributes
